<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>twilioIncoming</servlet-name>
    <servlet-class>TwilioIncomingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twilioIncoming</servlet-name>
    <url-pattern>/twilioIncoming</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>twilioOutgoing</servlet-name>
    <servlet-class>TwilioOutgoingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twilioOutgoing</servlet-name>
    <url-pattern>/twilioOutgoing</url-pattern>
  </servlet-mapping>

</web-app>
