hibernate-console/lib_managed
hibernate-console/target
hibernate-console/project/boot
hibernate-console/project/build/target

hibernate-jpa/lib_managed
hibernate-jpa/target
hibernate-jpa/project/boot
hibernate-jpa/project/build/target

httpclient/lib_managed
httpclient/target
httpclient/project/boot
httpclient/project/build/target

twilio-app/lib_managed
twilio-app/target
twilio-app/project/boot
twilio-app/project/build/target
